
.SavedWordsPage{
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 10px 90px;
}

.SavedWordsContainer {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .SavedWordsList {
    list-style-type: none;
    padding: 0;
  }
  
  .SavedWordItem {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
  }
  
  .SavedWordItem strong {
    color: #3498db;
    cursor: pointer;
  }
  